* {
    margin:0 auto;
    padding:0;
    font-family: Roboto,Noto sans kr;
}



header{
    background-color: #5383e8;
    height: 95px;;
    width: 100vw;  
}



#logo {
    position: absolute;
    top:25px;
    left:30px;
    font-size: 30px;
}
#logo a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.menus {
    position: absolute;
    top: 33px;
    right:50px; 
    display: inline-block;  
}


.menu{
    margin:5px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color:white;
    cursor: pointer;
}

.menu:hover{
    color:#495057;    
}

.menu:active{
    color:#1862ab;
}


.content {
    text-align: center;
    padding-top: 50px;
    min-height: 100%; 
    padding-bottom: 100px;
    box-sizing: content-box;
}

.content{
    background-attachment: fixed;
    background-image: url('images/forest1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    background-color: white;
    box-sizing: content-box;
    margin-left: 20%;
    margin-right: 20%;
    border:5px solid gray;
    
}


.rate{
    border-collapse: separate;
    border-spacing: 0 10px;
    border: 1px solid black;
    border-collapse: collapse;
    width:90%;
}

.rate th,td{
    border: 1px solid black;
}

.blue[value]{
    -webkit-appearance: none;
    appearance: none;
}

.blue[value]::-webkit-progress-value {
    background-color: rgb(97, 97, 231);
  }


.red[value]{
    -webkit-appearance: none;
    appearance: none;
}

.red[value]::-webkit-progress-value {
    background-color: rgb(230, 78, 78);
  }

.footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    font-weight: 200;
    background-color: #384452;
    padding-top: 25px;
}

