* {
    margin:0 auto;
    padding:0;
    
}

header{
    background-color: #212529;
    height: 95px;;
    width: 100vw;  
    
}

#logo {
    position: absolute;
    top:30px;
    left:30px;
}
#logo a{
    color:white;
    text-decoration: none;
}

#menu {
    position: absolute;
    top: 30px;
    right:50px; 
    
}

#menu div{
    display: inline-block;
    color:white;
    text-decoration: none;
}

#content {
    text-align: center;
    margin-top: 50px;
    
    
}

